.header{
    padding: 30px;
    background-color:cadetblue;
    text-align:center;
}

.header h1{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, fantasy;
    font-weight:900;
}

/* .col-md-3{
    padding: 20px;
} */

.card{
    border:1px solid grey;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: auto;
}

h2{
    text-decoration: underline;
}

#quotes{
    padding: 20px;
}